#root {
  /* max-width: 1280px; */
  max-height: 100vh;
  margin: 0 auto;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.tile {
  border: 1px solid rgb(237, 232, 232);
  aspect-ratio: 1 / 1;
  position: relative;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

.tile-image{
  width: 100%;
  max-height: 100%;
  margin: auto;
}

.game {
  height: 100vh;
  display: flex;
  flex-direction: column
}


.tile-grid {
  aspect-ratio: 1 / 1;
}